<%= render 'users/user', user: @user %>

<%= render 'books/new', book: @new_book %>

<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td>
        <%= image_tag @user.get_profile_image(100,100) %><br>
        <%= link_to @user.name, user_path(@user) %>
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.body %></td>
      <% if @book.user_id == current_user.id %>
        <td><%= link_to "Edit", edit_book_path(@book) %></td>
        <td><%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      <% end %>
    </tr>
  </tbody>
</table>